.de-example {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    
    -webkit-transition: border-color ease-in-out 0.5s, background-color ease-in-out 0.5s; 
    transition: border-color ease-in-out 0.5s, background-color ease-in-out 0.5s;
}

.de-example:hover {
    background-color: #fdfdfd;
    border: 1px solid #ccc;
   
    -webkit-transition: border-color ease-in-out 0.5s, background-color ease-in-out 0.5s; 
    transition: border-color ease-in-out 0.5s, background-color ease-in-out 0.5s;
}


/* Repeat Animation */


/* Ausgangspunkt der Animation */
.repeat-anim.ng-enter {
    webkit-transition: 1s linear all;
    transition: 1s linear all;
    opacity: 0;
    line-height: 0;
}


.repeat-anim.ng-leave {
    webkit-transition: 1s linear all;
    transition: 1s linear all;
    opacity: 1;
    line-height: 20px;
}


/* Animationsziel */
.repeat-anim.ng-enter.ng-enter-active {
    opacity: 1;
    line-height: 20px;
}


.repeat-anim.ng-leave.ng-leave-active {
    opacity: 0;
    line-height: 0;
}
