<!-- ng-app sagt Angular, dass dies eine Applikation ist. Das optionale "demo" zeigt das Modul an, welches für die Applikation benutzt werden soll -->
<html ng-app="demo">
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-theme.css">
<link rel="stylesheet" href="css/app.css">

<!-- Libs -->
<script src="js/lib/jquery/jquery.js"></script>
<script src="js/lib/angular/angular.js"></script>
<script src="js/lib/angular/angular-animate.js"></script>
<script src="js/lib/angular/angular-route.js"></script>
<script src="js/lib/bootstrap/bootstrap.js"></script>

<!-- Angular UI Elemente -->

<!-- Utilities -->
<script src="js/lib/angular/ui/utils/utils.js"></script>

<!-- Router -->
<script src="js/lib/angular/ui/router/router.js"></script>

<!-- App -->
<script src="js/app/app.js"></script>

<!-- Controller  -->

<script src="js/app/controller/Demo.js"></script>
<script src="js/app/controller/ViewDemo.js"></script>
<script src="js/app/controller/Home.js"></script>

<title>AngularJs Demo Projekt</title>
</head>
<body>

<!-- ng-controller gibt an, dass alles was sich in dem DIV Container befindet von dem "DemoCtrl gesteuert wird" -->
<div class="container" ng-controller="DemoCtrl">
    
    <!-- Header -->
    <div class="page-header">
        <h1 id="title">AngularJs Demo Projekt</h1>
        <img src="http://angularjs.org/img/AngularJS-large.png" alt="AngularJs">
    </div>
    
    
    <h2>Info Ausgabe</h2>
    
    <!-- Einfache Ausgabe einer Variablen in HTML -->
    <div class="container de-example">
        <p>{{info}}</p>
    </div>
    
    
    <h2>Alert Beispiel</h2>
    
    <!-- ng-click führt bei einem Klick die angegebene Function im Controller aus -->
    <div class="container de-example">
        <div class="container">
            <button ng-click="alert()" class="btn btn-info">{{alertButton}}</button>
        </div>
                
        <!-- Mit ng-show lassen sich Elemente ein bzw. ausblenden, wenn ihr Wert true ist -->
        <div class="container">
            <div class="alert alert-info fade in" ng-show="show">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{alertTitle}}</strong> {{alertText}}
            </div>
        </div>
    </div>
    
    
    <h2>Model Beispiel</h2>
    
    <div class="container de-example">
        <div>
            <!-- Ein ng-model wird von Angular überwacht und der Wert in Echtzeit geupdatet  -->
                    
            <input type="text" ng-model="name" class="form-control" placeholder="Dein Name">
            Hallo {{name}}, du bist behindert!!
        </div>    
    </div>
    
    
    <h2>Repeat Beispiel</h2>
    
    <div class="container de-example">
        <ul>
            <!-- ng-repeat wiederholt das Element solange, wie es Elemente in users gibt (foreach) -->
            <li ng-repeat="user in users" ng-animate="'repeat'">{{user.name}} ist {{user.alter}} Jahre alt.</li>
        </ul>
    </div>
    
    
    <h2>CSS Klassen Beispiel</h2>
    
    <div class="container de-example">
        <button ng-click="toggle()" type="button" class="btn btn-primary" data-toggle="button">Toggle Valid</button>
        
        <!-- Mit ng-class werden bestimmte CSS Klassen angewandt, wenn die Bedingung dahinter true ist -->
        <div class="form-group" ng-class="{ 'has-success': toggled, 'has-error': !toggled }">
            <label class="control-label" for="toggleInput">Irgend son Input</label>
            <input type="text" class="form-control" placeholder="Muh" id="toggleInput">
        </div>
    </div>
    
    
    <h2>Animationen</h2>
    
    <h3>Repeat (CSS Animation)</h3>
    
    <div class="container de-example">
        
        
        <div class="alert alert-info">Funktioniert für: <em>enter</em>, <em>leave</em>, <em>move</em>. Keine Ahnung, wie move funzt...</div>
        
        <button ng-click="replaceItem()" type="button" class="btn btn-primary">Muh!</button>
        
        <p>
        <ul>
            <!-- Die Animation wird durch die CSS Klasse repeat-anim gesteuert -->
            <li ng-repeat="item in animateItems" class="repeat-anim">{{item}}</li>
        </ul>
        </p>
    </div>
    
    <h2>View</h2>
    
    <div class="container de-example">
        
        <div ng-controller="ViewDemoCtrl">
        
        <!-- Navigation -->
        <ul class="nav nav-pills">
          <li><a href="#/home">Home</a></li>
          <li><a href="muh">Muh</a></li>
          <li><a href="moep">Möp</a></li>
        </ul>
    
        <div ng-view>
        
        </div>
        
        </div>
    </div>
    
</div>



</body>
</html>